*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.btn{
	border-radius: 50px;
	background-color: blue;
	color: white;
	font-size: px;
	border: 1px blue;

	}

	body{
		font-family: 'Livvic', sans-serif;

	}

	nav{
		position: relative;
	}

	

	h4{
		color: #4d4d4d;
		font-weight: bold;
	}
	

	

	.nav-item a{
		font-weight: 700;

	}

	header{
		background: 
		linear-gradient(to bottom, rgba(25, 32, 24, 0.66), rgba(25, 32, 24, 0.66)), url("Images/vggleaf.png");
		background-size: cover;
		height: 100vh;
	}

	.contact-us-2{
				padding: 20px;

	}

	.learn-how{
	}

	.lalala{
		padding: 20px;
	}

	.header-col{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 80px;

}

	.header-h3{
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	}

	.column-six{
		margin-top: 40px;
	}

	.header-paragraph{
		font-size: 25px;
		color: #fff;
		font-weight: bold;

	}

	.second-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 250px;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 20px;

}

.footer-element{
	color: #000;
}

ul{
	text-decoration: none;
}

h5{
	color: #2992d0;
	font-weight: bold;
}

.navbar-brand{
/*	border-left: 3px solid #38b58b;
*//*	border-top: 3px solid #38b58b;
*/		border-bottom: 3px solid #51b64b;


}

.second-section{
	background-color: #013444;
	height: 90vh;
	border-top: 80px solid #013444;

}

 .jobs-by  {
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	border-left: 5px solid #51b64b;
		border-right: 5px solid #51b64b;

/*	margin-top: 30px;
*/}

	.card-items{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 50px;

}

.font-awesome{
	font-size: 50px;
	color: #51b64b;
	margin-bottom: 10px;
}

.form-1{
	  background-color: rgba(0, 0, 0, 0.40);

	padding: 60px;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  text-align: center;
*/ margin-top: 60px;
   border-radius: 10px;


}

.list-of{
/*	background-color: rgba(0, 0, 0, 0.85);
*/	color: #fff;
}

#client-body{
 background:
 linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),
 url("Images/vggleaf.png");
 background-size: cover;
 background-position: right;
 font-family: 'Livvic', sans-serif;
  padding:2em 6em;
}

 .admin-body {
 background:
 linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),
 url("Images/vgleaf.png");
 background-size: cover;
}

h1{
  color:#fff;
  text-align:center;
}
/*--------Accordion-------*/
.acc-kontainer {
  width: 50%;
  margin: auto;
}
.acc-kontainer .acc-body {
  width: 98%;
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);;
  background-color: #000;
  line-height: 28px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.acc-kontainer label {
  cursor: pointer;
  background-color: #fff;/*rgba(0, 0, 0, 0.75);*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  display: block;
  padding: 15px;
  width: 100%;
  color: #000;
  font-weight: 400;
  box-sizing: border-box;
  z-index: 100;
}

.acc-kontainer input{
  display: none;
}

.acc-kontainer label:before {
  font-family: 'FontAwesome';
  content: '\f067';
  font-weight: bolder;
  float: right;
}

.acc-kontainer input:checked+label {
  background-color: #fff/*rgba(0, 0, 0, 0.25)*/;
}

.acc-kontainer input:checked+label:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  transition: 0.5s;
}

.acc-kontainer input:checked~.acc-body {
  height: auto;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  transition: 0.5s;
}